[class="index"] {
    background-color: rgb(240,240,240);
}

[class="header"] {
    padding: 0.8em;
    height: 10.5vmin;
    background-color: rgb(240,240,240);
}

[class="header-icon"] {
    float: left;
    padding-right: 2vmin;
}

[class="text-area"] {
    padding-left: 1vmin;
    width: 100%;
    height: 89.5%;
    font-size: 1.7em;
    border-color: rgb(240,240,240);
    border-width: 1em;
    resize: none;
}

[class="header-buttons"] {
    flex-direction: column;
}

[class="left-container"]{
    float: left;
    width: 60%;
    height: 100vmin;
    font-size: 1em;
    /*border: 2px solid black;*/
}

[class="right-container"]{
    float: left;
    width: 40%;
    height: 100vmin;
    line-height: 2em;
    padding: 1em;
    background-color: rgb(240,240,240);
}

[class="buttonGroup"] {
    padding-right: 1em;
    padding-top: 0.6em;
}

button:hover{
    background-color: white;
}

[class="title"] {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 0.3em;
}

[class="custom-button"] {
    border: none;
    float: left;
    height: 4vmin;
    background-color: rgb(240,240,240);
}

[class="dropdown-content"] {
    display: none;
}

[class="right-top"] {
    height: 57vh;
}

[class="right-bottom"] {
    height: 43vh;
}

[class="formWeb"] {
    padding-bottom: 1em;
    font-weight: bold;
}

[id="writing"] {
    height: 35vmin;
    overflow: scroll;
    border-radius: 10px !important;
    background-color: #FFFFFF;
}

[id="card1"] {
    overflow: scroll;
    height: 15vmin;
    border-radius: 10px !important;
    background-color: #FFFFFF
 }

[id="card2"] {
    overflow: scroll;
    height: 15vmin;
    border-radius: 10px !important;
    background-color: #FFFFFF
}

[id="card3"] {
    overflow: scroll;
    height: 15vmin;
    border-radius: 10px !important;
    background-color: #FFFFFF
}

[id="currentReference"] {
    padding-bottom: 0.1em !important;
}

input[type=title], select {
    height: 4vmin;
    width: 50vmin;
    font-size: 3vmin;
}

[class="paddingLeft"]{
    padding-left: 10px;
}